@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');


/* Variables */
:root {
  --green-color : #035F3C;
  --lightgreen-color: #109c67;
  --yellow-color : #F8D71C;
  --red-color: #FC3F1D;
  --white-color: white;
  --black-color: #212121;
}

/* Overall  */
html{
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
  position: relative;
}

body {
  font-family: 'Montserrat' !important;
  color: var(--black-color);
  font-weight: 400;
}