.page-header h1 {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2.5em;
  font-weight: 600;
}

.ui.icon.input.search-bar {
  max-width: 350px;
  margin-top: 0.5em;
  width: 90%;
}

.filters__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.filter__container {
  border: 1px solid rgba(34,36,38,.15);
  width: 25%;
  transition: 200ms all ease;
  padding: 1.5em;
  position: relative;
  margin-top: 1em;
}

.filter__container:hover {
  border-color: rgba(34,36,38,.3)
}

.filter__label {
  position: absolute;
  position: absolute;
  background: white;
  font-weight: 600;
  font-size: 0.9em;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

#glossary-section {
  margin-top: 2em;
}

.glossary__item {
  border-bottom: 1px solid rgba(34,36,38,.15);
  padding: 1em;
}

.glossary__heading {
  margin-bottom: 0.5em;
}

.glossary__heading a {
  font-size: 1.3em;
  font-weight: 500;
}

.glossary__heading a:after{
  content: '';
  height: 2px;
  width: 50px;
  display: block;
  background: #0062cc;
  margin-top: 0.2em;
}

.glossary__content .readmore {
  margin-left: 1em;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .filter__container {
    width: 50%;
  }
}

@media only screen and (max-width: 360px) {
  .filter__container {
    width: 100%;
  }
}