.search-box {
  position: relative;
  display: inline;
}

.search-box .search-input {
  width: 100%;
  max-width: 400px;
  background: transparent;
  border: 2px solid var(--black-color);
  border-radius: 25px;
  padding: 0.5em 2em 0.5em 1em;
  font-size: 1em;
  margin-bottom: 1em;
  height: 2.7em;
}

.search-box i {
  position: absolute;
  right: 0.8em;
  font-size: 1.2em;
  top: 0em;
  cursor: pointer;
  transition: 100ms all ease-in-out;
  color: var(--black-color);
}

.search-box .search-input:focus, .search-box i:focus {
  outline: none;
}

.search-box .search-input:focus {
  border-color: var(--green-color);
}

.search-box i:hover {
  color: var(--green-color)
}

.filters-container {
  border: 2px solid var(--black-color);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .search-box .search-input {
    height: 2.5em;
  }
}