<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/admin" style="text-align:center;">
            <h1>Spice Vault</h1>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li><a href="/admin"><i class="fas fa-dot-circle"></i>Dashboard</a></li>
                <li><a href="/admin/spices"><i class="fas fa-dot-circle"></i>Herbs & Spices</a></li>
                <li class="has-sub">
                    <a class="js-arrow" href="#"><i class="fas fa-chevron-right"></i>Filters</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li><a href="/admin/blends"><i class="zmdi zmdi-dot-circle"></i>Blends</a></li>
                        <li><a href="/admin/flavors"><i class="zmdi zmdi-dot-circle"></i>Flavors</a></li>
                        <li><a href="/admin/ingredients"><i class="zmdi zmdi-dot-circle"></i>Ingredients</a></li>
                        <li><a href="/admin/regions"><i class="zmdi zmdi-dot-circle"></i>Regions</a></li>
                    </ul>
                </li>
                <li><a href="/admin/logout"><i class="fas fa-dot-circle"></i>Log Out</a></li>
                <!-- <li class="has-sub">
                    <a class="js-arrow" href="#"><i class="fas fa-chevron-right"></i>Account</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li><a href="/admin/account"><i class="zmdi zmdi-dot-circle"></i>Account Settings</a></li>
                        <li><a href="/admin/changepassword"><i class="zmdi zmdi-dot-circle"></i>Change Password</a></li>
                    </ul>
                </li> -->
            </ul>
        </nav>
    </div>
</aside>